
*{
 box-sizing: border-box;
 font-family: Arial, sans-serif;
}

body{
font-family: Arial, sans-serif;
background-color: #f4f4f4;
padding: 20px;
text-align: center;
}
#characters-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.character-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 7px;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.15);
}
.card{
  width: 80%;
  max-width: 250px;
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translate(8px, -4px);
}
.attribute {
    font-weight: bold;
    margin-right: 5px;
}

.character-detail {
    margin: 4px;
}